@page "/counter"
@inject HttpClient Http

@using System.Threading

<h3>API Data</h3>
<div>
    @if (_data == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <p>@_data</p>
    }
</div>

@code {
    private Timer _timer;
    private string _data;

    protected override void OnInitialized()
    {
        _timer = new Timer(async _ => await FetchData(), null, 0, 5000);
    }

    private async Task FetchData()
    {
        _data = await Http.GetStringAsync("https://atillaK:AtiSkyHigh@18@opensky-network.org/api/states/all?lamin=32.714545&lomin=-117.131584&lamax=33.909604&lomax=-116.888135");
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        _timer?.Dispose();
    }
}
